<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>yearsmonths</key>
	<dict>
		<key>years</key>
		<array>
			<string>1910</string>
			<string>1911</string>
			<string>1912</string>
			<string>1913</string>
			<string>1914</string>
			<string>1915</string>
			<string>1916</string>
			<string>1917</string>
			<string>1918</string>
			<string>1919</string>
			<string>1920</string>
			<string>1921</string>
			<string>1922</string>
			<string>1923</string>
			<string>1924</string>
			<string>1925</string>
			<string>1926</string>
			<string>1927</string>
			<string>1928</string>
			<string>1929</string>
			<string>1930</string>
			<string>1931</string>
			<string>1932</string>
			<string>1933</string>
			<string>1934</string>
			<string>1935</string>
			<string>1936</string>
			<string>1937</string>
			<string>1938</string>
			<string>1939</string>
			<string>1940</string>
			<string>1941</string>
			<string>1942</string>
			<string>1943</string>
			<string>1944</string>
			<string>1945</string>
			<string>1946</string>
			<string>1947</string>
			<string>1948</string>
			<string>1949</string>
			<string>1950</string>
			<string>1951</string>
			<string>1952</string>
			<string>1953</string>
			<string>1954</string>
			<string>1955</string>
			<string>1956</string>
			<string>1957</string>
			<string>1958</string>
			<string>1959</string>
			<string>1960</string>
			<string>1961</string>
			<string>1962</string>
			<string>1963</string>
			<string>1964</string>
			<string>1965</string>
			<string>1966</string>
			<string>1967</string>
			<string>1968</string>
			<string>1969</string>
			<string>1970</string>
			<string>1971</string>
			<string>1972</string>
			<string>1973</string>
			<string>1974</string>
			<string>1975</string>
			<string>1976</string>
			<string>1977</string>
			<string>1978</string>
			<string>1979</string>
			<string>1980</string>
			<string>1981</string>
			<string>1982</string>
			<string>1983</string>
			<string>1984</string>
			<string>1985</string>
			<string>1986</string>
			<string>1987</string>
		</array>
		<key>months</key>
		<array>
			<string>January</string>
			<string>February</string>
			<string>March</string>
			<string>April</string>
			<string>May</string>
			<string>June</string>
			<string>July</string>
			<string>August</string>
			<string>September</string>
			<string>October</string>
			<string>November</string>
			<string>December</string>
		</array>
	</dict>
</dict>
</plist>
