<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>years</key>
	<array>
		<integer>1910</integer>
		<integer>1911</integer>
		<integer>1912</integer>
		<integer>1913</integer>
		<integer>1914</integer>
		<integer>1915</integer>
		<string>1916</string>
		<integer>1917</integer>
		<integer>1918</integer>
		<integer>1919</integer>
		<integer>1920</integer>
		<integer>1921</integer>
		<integer>1922</integer>
		<integer>1923</integer>
		<integer>1924</integer>
		<integer>1925</integer>
		<integer>1926</integer>
		<integer>1927</integer>
		<integer>1928</integer>
		<integer>1929</integer>
		<integer>1930</integer>
		<integer>1931</integer>
		<integer>1932</integer>
		<integer>1933</integer>
		<integer>1934</integer>
		<integer>1935</integer>
		<integer>1936</integer>
		<integer>1937</integer>
		<integer>1938</integer>
		<integer>1939</integer>
		<integer>1940</integer>
		<integer>1941</integer>
		<integer>1942</integer>
		<integer>1943</integer>
		<integer>1944</integer>
		<integer>1945</integer>
		<integer>1946</integer>
		<integer>1947</integer>
		<integer>1948</integer>
		<integer>1949</integer>
		<integer>1950</integer>
		<integer>1951</integer>
		<integer>1952</integer>
		<integer>1953</integer>
		<integer>1954</integer>
		<integer>1955</integer>
		<integer>1956</integer>
		<integer>1957</integer>
		<integer>1958</integer>
		<integer>1959</integer>
		<integer>1960</integer>
		<integer>1961</integer>
		<integer>1962</integer>
		<integer>1963</integer>
		<integer>1964</integer>
		<integer>1965</integer>
		<integer>1966</integer>
		<integer>1967</integer>
		<integer>1968</integer>
		<integer>1969</integer>
		<integer>1970</integer>
		<integer>1971</integer>
		<integer>1972</integer>
		<integer>1973</integer>
		<integer>1974</integer>
		<integer>1975</integer>
		<integer>1976</integer>
		<integer>1977</integer>
		<integer>1978</integer>
		<integer>1979</integer>
		<integer>1980</integer>
		<integer>1981</integer>
		<integer>1982</integer>
		<integer>1983</integer>
		<integer>1984</integer>
		<integer>1985</integer>
		<integer>1986</integer>
		<integer>1987</integer>
	</array>
	<key>month</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>9</integer>
		<integer>10</integer>
		<integer>11</integer>
		<integer>12</integer>
	</array>
</dict>
</plist>
