<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>imperial</key>
		<array>
			<string>4&apos;9&quot;</string>
			<string>5&apos;</string>
			<string>5&apos;2&quot;</string>
			<string>5&apos;3&quot;</string>
			<string>5&apos;4&quot;</string>
			<string>5&apos;5&quot;</string>
			<string>5&apos;6&quot;</string>
			<string>5&apos;7&quot;</string>
			<string>5&apos;8&quot;</string>
			<string>5&apos;9&quot;</string>
			<string>6&apos;</string>
			<string>6&apos;1&quot;</string>
			<string>6&apos;2&quot;</string>
			<string>6&apos;3&quot;</string>
			<string>6&apos;4&quot;</string>
			<string>6&apos;5&quot;</string>
			<string>6&apos;6&quot;</string>
			<string>6&apos;7&quot;</string>
			<string>6&apos;8&quot;</string>
			<string>6&apos;9&quot;</string>
			<string>7&apos;</string>
		</array>
		<key>system</key>
		<array>
			<string>cm</string>
			<string>ft</string>
		</array>
		<key>metric</key>
		<array>
			<integer>150</integer>
			<integer>151</integer>
			<integer>152</integer>
			<integer>153</integer>
			<integer>154</integer>
			<integer>155</integer>
			<integer>156</integer>
			<integer>157</integer>
			<integer>158</integer>
			<integer>159</integer>
			<integer>160</integer>
			<integer>161</integer>
			<integer>162</integer>
			<integer>163</integer>
			<integer>164</integer>
			<integer>165</integer>
			<integer>166</integer>
			<integer>167</integer>
			<integer>168</integer>
			<integer>169</integer>
			<integer>170</integer>
			<integer>171</integer>
			<integer>172</integer>
			<integer>173</integer>
			<integer>174</integer>
			<integer>175</integer>
			<integer>176</integer>
			<integer>177</integer>
			<integer>178</integer>
			<integer>179</integer>
			<integer>180</integer>
			<integer>181</integer>
			<integer>182</integer>
			<integer>183</integer>
			<integer>184</integer>
			<integer>185</integer>
			<integer>186</integer>
			<integer>187</integer>
			<integer>188</integer>
			<integer>189</integer>
			<integer>190</integer>
			<integer>191</integer>
			<integer>192</integer>
			<integer>193</integer>
			<integer>194</integer>
			<integer>195</integer>
			<integer>196</integer>
			<integer>197</integer>
			<integer>198</integer>
			<integer>199</integer>
			<integer>200</integer>
			<integer>201</integer>
			<integer>205</integer>
			<integer>206</integer>
			<integer>207</integer>
			<integer>208</integer>
			<integer>209</integer>
			<integer>210</integer>
		</array>
	</dict>
</dict>
</plist>
